.container
{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @media (max-width: 1200px)
    {
        width: 100%;
    }
    @media (max-width: 768px)
    {
        width: 100%;
    }
    @media (max-width: 480px)
    {
        width: 100%;
    }
}